.header {
    background-color: #fff;
    box-shadow: 0px -5px 8px 5px #00000056;
    z-index: 1000;
    
  }
.container {
  height: 60px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
.logo{
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

.nav{
  display: flex;
  gap: 20px;
}




.nav-item{
  margin-right: 10px;
}




 :root {
    --header-height: 160px
    --bg-body: #fff;
    --txt-body: #000;
    --bg-nav: #fff;
    --color-primary: #fe7777;
    --btn-color: #000;
  }
  
  body.dark {
    --bg-body: #222;
    --txt-body: #dc1313;
    --bg-nav: #111;
    --btn-color: #fff;
    --color-primary: #fe7777;
  }

  
  
  html {
    /* root */
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  


body{
    background-color: #3b3838;
    color: rgb(126, 126, 16);
    font-size: 100%;
    }

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px;
    box-shadow: 0 3px 6px rgb(16, 199, 40);
    transition: transform 0.3s ease;
    }

img:hover{
    transform: scale(1.1);
}


main {
    padding: 20px;
    text-align:left;
}


h1{
    font-family: sans-serif;
    font-weight:200;
    text-align: center;

}

p{
    text-align:left;

}

html{
    scroll-behavior: smooth;
}

table{
    width: 150
  }
  tr,
  th,
  td{
    border-collapse:separate;
    border:3px solid rgb(3, 58, 19);
    border-radius: 5px;
    padding: 7px;
    
    }


